// Colors
$color-red: red;
$color-blue: blue;
$color-yellow: yellow;
$color-green: green;
$color-lightgray: lightgray;
$color-background: #eeeeee;

// General Styles
body {
	margin: 10px;
	font-family: Arial, sans-serif;
}

// Grid 1
.gridOne {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: $color-background;
}

// Grid 2
.gridTwo {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	gap: 0px;
	margin-bottom: 10px;

	&-one {
		padding: 0;
		background-color: $color-red;
	}

	&-two {
		padding: 0;
		background-color: $color-blue;
	}

	&-three {
		padding: 0;
		background-color: $color-yellow;
	}
}

// Grid 3
.gridThree {
	display: grid;
	grid-template-rows: 1fr 3fr;
	width: 500px;
	height: 300px;
	margin-bottom: 10px;
	background-color: $color-background;

	&-one {
		padding: 10px;
	}

	&-two {
		img {
			width: 500px;
			height: 225px;
			object-fit: cover;
		}
	}
}

// Grid 4
.gridFour {
	display: grid;
	grid-template-rows: 1fr 1fr;
	width: 500px;
	background-color: $color-green;
	margin-bottom: 10px;

	&-one {
		padding: 10px;
	}
}

#gridFour-two {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
}

// Grid 5
.gridFive {
	display: grid;
	grid-template-rows: 1fr 1fr;
	width: 500px;
	margin-bottom: 10px;
	background-color: $color-background;

	&-one {
		padding: 10px;
	}

	&-two {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 10px;
		padding: 10px;
		img {
			height: 200px;
			width: 200px;
			object-fit: cover;
		}
	}
}

// Grid 6
.gridSix {
	display: grid;
	grid-template-columns: 1fr 3fr;
	width: 500px;
	background-color: $color-lightgray;

	.fas.fa-star{
		font-size: 10px;
		padding-top: 0px;
		padding-left: 0px;
	}

	.google-font {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		margin: 0;
		padding: 10px 0 10px 0;
		align-content: center;
	}
}