/* Common styles */
.square {
    width: 100px;
    height: 100px;
    background-color: #88e0b0;
}

/* Flexbox 1 */
.flexOne {
    display: flex;
}
.flexOne .square {
    margin: 5px;
}

/* Flexbox 2 */
.flexTwo {
    display: flex;
    flex-direction: column;
}
.flexTwo .square {
    margin: 2px;
}

/* Flexbox 3 */
.flexThree {
    display: flex;
    flex-direction: row-reverse;
}
.flexThree .square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* Flexbox 4 */
.flexFour {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
}
.flexFour .square {
    margin: 5px;
    background-color: #3d8b6d;
}

/* Flexbox 5 */
.flexFive {
    width: 350px;
    display: flex;
}
.flexFive .square {
    margin: 2px;
    background-color: #0b6643;
}
#grow {
    flex-grow: 2;
}

/* Flexbox 6 */
.flexSix {
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}
.flexSix .square {
    margin: 2px;
    background-color: #6d6d6d;
}
.flexSix .square:nth-child(1) { justify-content: space-around; }
.flexSix .square:nth-child(2) { justify-content: space-between; }
.flexSix .square:nth-child(3) { justify-content: space-evenly; }

/* Flexbox 7 */
.flexSeven {
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flexSeven > div {
    display: flex;
    justify-content: space-around;
}

/* Flexbox 8 */
.flexEight {
    height: 400px;
    width: 300px;
    display: flex;
    background-color: #eeeeee;
}
.flexEight .square {
    margin: 0;
}
.flexEight > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

/* Flexbox 9 */
.flexNine {
    width: 450px;
    height: 250px;
    display: flex;
    align-items: flex-start;
    background-color: #eeeeee;
}
.flexNine .square {
    margin: 2px;
}
.flexNine .square:nth-child(3) {
    align-self: flex-end;
}